[submodule "third-party/stivale"]
	path = third-party/stivale
	url = https://github.com/Andy-Python-Programmer/stivale
[submodule "third-party/limine"]
	path = third-party/limine
	url = https://github.com/limine-bootloader/limine
	branch = latest-binary
